/InftelScrum-ejb/nbproject/private/
/nbproject/private/
/InftelScrum-war/nbproject/private/
/InftelScrum-war/build/
/InftelScrum-ejb/dist/
/InftelScrum-ejb/build/
/build/
/InftelScrum-war/dist/
/dist/
